<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <img src='../static/images/Dhruvi.jpg' width="150" height="150"></center>
    </head>
    <body>
        <div class="container">
                <h1>hellooooo</h1>
            <table class="table table-bordered">
                            <tr>
                                <th>Siddharth</th>
                                <th>Kela</th>

                            </tr>
                 </table>
              <div>

    <table class="table table-bordered">
        <tr>
            <th>
                Age
            </th>
            <th>
                Count
            </th>
        </tr>
        <tbody>
        {% for a in rows %}
        <tr>
            <td> {{a[0]}}</td>
        <td> {{a[1]}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>



    </div>