<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>
    <body>
        <div class="container">
                <h1>hellooooo</h1>
            <table class="table table-bordered">
                            <tr>
                                <th>Siddharth Kela</th>
                                <th>1001670781</th>

                            </tr>
                 </table>
<div>
    <form action="/search" method="get">
       Enter k <input type="text" name="k">
         Enter min <input type="text" name="min">
         Enter max <input type="text" name="max">
        <input type="submit" value="search">

    </form>
</div>
**********************************************************************
    <div>
    <form action="/case" method="get">
       Enter k <input type="text" name="k">

        <input type="submit" value="case">

    </form>
</div>

  *******************************************************************************


        <div>
    <form action="/count" method="get">
       Enter mag <input type="text" name="mag">

        <input type="submit" value="count">

    </form>
</div>
****************************************************************************
            <div>
<form action="/list" method="get">

          Enter Minimum<input type="text" name="min" maxlength="200" width="60">
          Enter Maximum<input type="text" name="max" maxlength="200" width="60">
          Enter Location<input type="text" name="loc" maxlength="200" width="60">


<input type="submit" value="list">

  </form>
            </div>

    </body>
</html>